.git
.turbo
node_modules
**/node_modules
**/.next
**/.turbo
**/dist
**/build
npm-debug.log
pnpm-debug.log
Dockerfile
Dockerfile.*
.env
.env.*
supabase/.temp

!pnpm-lock.yaml
!pnpm-workspace.yaml
!package.json
!smart-travel-backend/services/api/package.json
!smart-travel-frontend/apps/web/package.json
